@import "var"

html, body
  font-family "Monaco", "Ubuntu Mono", "Source Code Pro", "DejaVu Sans"
  font-size 12px
  color $normal-text-color
  height 100%
  width 100%
  background-color setAlpha($background-color, 1)
  .transparent
    background transparent
    height 100%
    width 100%
    .album
      filter blur(20px)
      background transparent
      height 100%
      width 100%
      .content
        height 100%
        width 100%
        .search-container
          width 100%
          height 30px
          .search_panel
            width 300px
            margin 0 auto
            text-align center
            padding-top 30px
            input
              height 30px
              width 200px
              border-radius 10px
              border 0px
              padding 0px
              padding-left 10px
              box-shadow 0 0 1px $box-shadow
              &:focus
                box-shadow 0 0 5px $box-shadow
        .music-table-container  // align center
          margin 0 auto
          margin-top 50px
          width 56%
          height auto
          border 1px dashed $border-color
          .music-table-panel
            width 80%
        .player-control-container
          padding-top 30px
          width 100%
          height 100px
          .player-control-panel
            width 400px
            margin 0 auto
            height 100%
            text-align center
            .play-control
              margin 0 5px
              background-position center center
              background-size cover
              border-radius 50%
              box-shadow 0 0 2px $box-shadow
              display inline-block
              line-height 100px
              vertical-align middle
            .play-previous
              width 60px
              height 60px
            .play-pause
              width 100px
              height 100px
            .play-next
              width 60px
              height 60px
        .songs-container
          padding-top 30px
          width 100%
          .songs-panel
            width 680px
            margin 0 auto
            text-align center
            table
              width 100%
              border 0
              table-layout fixed
              tr
                border 0
                &.active
                  color $active-text-color
                th
                  padding 8px 3px
                  font-size 14px
                  text-align left
                  font-weight normal
                  border 0
                  overflow hidden
                  &.ops
                    width 20px
                  &.name
                    width 70px
                  &.artist
                    width 60px
                  &.album
                    width 50px
                  &.duration
                    width 18px
                td
                  padding 2px 4px
                  overflow hidden
                  font-size 12px
                  border 0
                  text-align left
                  text-overflow ellipsis
                  white-space nowrap;
