@import "var"

html, body
  font-family "Monaco", "Ubuntu Mono", "Source Code Pro", "DejaVu Sans"
  font-size 12px
  color $normal-text-color
  overflow hidden
  height 100%
  width 100%
  background transparent
  .album-img
    position fixed
    left 0
    right 0
    z-index -1
    opacity $opacity
    &::before
      content " "
      height 100%
      width 100%
      z-index -1
      position fixed
      //background-image url('http://7xnn7w.com1.z0.glb.clouddn.com/blur.png')
      background-color $background-color
      background-size cover
      background-position center center
      background-repeat no-repeat
      left 0
      right 0
      display block
      //-webkit-filter blur(10px)
  .blur-layer
    z-index -1
    position fixed
    display block
    background-color setAlpha(black, 0.08)
    height 100%
    width 100%
  .transparent
    background transparent
    height 100%
    width 100%
    display -webkit-flex
    -webkit-flex-direction row
    .left-layer
      width 0px
      height 100%
      background-color $dark-background-color
      transition 0.5s
      overflow hidden
      .left-container
        width 100%
        height 100%
        display block
        .avatar-container
          width 100%
          height 100px
          padding-top 50px
          .avatar
            margin 0 auto
            height 100px
            width 100px 
            border-radius 2px
            box-shadow 0 0 2px $box-shadow
        .login-container
          padding-top 20px
          width 100%
          height 100%
          text-align center
          input
            display block
            margin 0 auto
            width 70%
            height 26px
            border 0
            background transparent
            font-size 14px
            color $dark-normal-text-color
            border-bottom 1px dashed $border-color
            &::-webkit-input-placeholder
              opacity 0.4
          .captcha-container
            padding-top 3px
            width 70%
            margin 0 auto
            display block
            height 36px
            input
              float left
              width 40%
              padding-top 5px
            img
              border-radius 2px
              border 0
              padding 0
              width auto
              height 36px
              float right
          .hint
            display block
            // display none
            width 70%
            margin 0 auto
            padding-top 10px
            text-align left
            color $error-text-color
          .login-btn
            width 40%
            margin 8px auto 0px
            display block
            padding 8px 4px
            border-radius 2px
            text-align center
            color $dark-normal-text-color
            background-color $background-color
            font-size 16px
            &:hover
              color $hover-text-color
              box-shadow 0 0 2px white
    .content
      height 100%
      width 100%
      .search-container
        display block
        width 100%
        .search_panel
          width 300px
          margin 0 auto
          text-align center
          padding-top 30px
          input
            height 30px
            width 200px
            border-radius 10px
            border 0px
            padding 0px
            padding-left 10px
            box-shadow 0 0 1px $box-shadow
            background-color $background-color
            color $normal-text-color
            &:focus
              box-shadow 0 0 5px $box-shadow
      .music-table-container  // align center
        display block
        margin 0 auto
        padding 10px 0 10px 0
        width 56%
        height auto
        border-bottom 1px dashed $border-color
        .music-table-panel
          width 80%
      .player-control-container
        padding-top 20px
        width 100%
        height 100px
        .player-control-panel
          width 70%
          margin 0 auto
          height 100%
          text-align center
          .play-control
            margin 0 5px
            background-position center center
            background-size cover
            border-radius 50%
            box-shadow 0 0 2px $box-shadow
            display inline-block
            line-height 100px
            vertical-align middle
          .play-previous
            width 60px
            height 60px
          .play-pause
            width 100px
            height 100px
          .play-next
            width 60px
            height 60px
      .songs-container
        display block
        margin-top 20px
        overflow-x hidden
        overflow-y scroll
        height 60%
        width 100%
        .songs-panel
          width 70%
          overflow-y scroll
          overflow-x hidden
          height auto
          margin 0 auto
          text-align center
          table
            margin 0 auto
            width 90%
            border 0
            table-layout fixed
            tr
              border 0
              height 16px
              &.active
                color $active-text-color
              th
                -webkit-user-select none
                padding 3px 0px
                font-size 16px
                text-align left
                font-weight normal
                border 0
                overflow hidden
                &.ops
                  width 40px
                //&.name
                //  max-width 180px
                //&.artist
                //  max-width 140px
                //&.album
                //  max-width 160px
                &.duration
                  width 38px
              td
                -webkit-user-select none
                padding 5px 2px
                font-size 14px
                border 0
                text-align left
                text-overflow ellipsis
                white-space nowrap;
                overflow hidden
                &.active::after
                  content " ♬"
            .song
              cursor auto
              &:hover
                cursor default
                color $hover-text-color
                background-color $row-hover-background-color
    .right-layer
      width 0px
      height 100%
      background-color $dark-background-color
      transition 0.5s
      overflow hidden
      .right-panel
        width 100%
        height 100%
        .playlists-container
          width 100%
          height 100%
          .playlists-panel
            padding 30px
            border 1px dashed $border-color
            margin 0 auto
            width 90%
            height 90%
            .title
              font-size 12px
              color $playlist-title-color
            .playlists-sub-container
              padding 4px 5px
              width 100%
              .playlist-title
                -webkit-user-select none
                color $dark-normal-text-color
                font-size 14px
                padding 5px 10px
                text-align left
                display block
                width 200px
                text-overflow ellipsis
                white-space nowrap;
                overflow hidden
                &:hover
                  color $hover-text-color
                &.active::before
                  margin-left -24px
                  content "➤ "
                  color $hover-text-color
                &.active
                  color $active-text-color
                  font-weight bold 

