$background-color = #FBF6E3
$dark-background-color = #182D37
$border-color = #5F6E75
$box-shadow = #5F6E75

$normal-text-color = #5F6E75
$playlist-title-color = #5F6E75
$dark-normal-text-color = #839496
$active-text-color = #2aa198
$hover-text-color = #268bd2
$error-text-color = #C0332C

setAlpha(color, alpha)
  rgba(red(color), green(color), blue(color), alpha)
