setAlpha(color, alpha)
  rgba(red(color), green(color), blue(color), alpha)

$opacity = 0.7

$background-color = setAlpha(black, 0.4)
$dark-background-color = setAlpha(#182D37, 0.8)
$border-color = #CCC
$box-shadow = #CCC

$row-hover-background-color = setAlpha(white, 0.2)

$normal-text-color = #CCC
$playlist-title-color = #5F6E75
$dark-normal-text-color = #839496
$active-text-color = #2aa198
$hover-text-color = #222
$error-text-color = #C0332C
